<div id="main-content">
	
	<div id="full-content-bubble">
		
		<div id="full-content">
			
			<h2>Hello, <%= @user.name %></h2>
			<hr>
			<p><%= link_to 'Add New Theme', "new.html" %></p> <br />
			<p><%= link_to 'View Themes', "new.html" %></p> <br />
			<p><%= link_to 'Account Settings', edit_user_path(current_user) %></p> <br />
			<p><%= link_to "Sign Out", signout_path %></p> <br />
		
		</div><!-- end full-content -->
	
	</div><!-- end full-content-bubble -->	

</div><!-- end main-content -->