<div id="main-content">
	
	<div id="full-content-bubble">
		
		<div id="full-content">
			
			<h2>Add New Theme</h2>
			
			<hr>
			
			<%= form_for @showcase, :html => {:multipart => true} do |f| %>
			   <%= render 'shared/error_messages2' %>
			   <div class="field">
				<%= f.label :title %><br />
				<%= f.text_field :title %>
			   </div>
				
				<div class="field">
					<%= f.label :author %><br />
					<%= f.text_field :author %>
				</div>
				
				<div class="field">
					<%= f.label :image %><br />
					<%= f.file_field :image %>
				</div>
				
				<div class="field">
					<%= f.label :remote_image_url %><br />
					<%= f.text_field :remote_image_url %>
				</div>
				
				<div class="field">
				<%= f.label :feature1, "Feature 1" %><br />
				<%= f.text_field :feature1 %>
				</div>
				
				<div class="field">
				<%= f.label :feature2, "Feature 2" %><br />
				<%= f.text_field :feature2 %>
				</div>
				
				<div class="field">
				<%= f.label :feature3, "Feature 3" %><br />
				<%= f.text_field :feature3 %>
				</div>
				
				<div class="field">
				<%= f.label :feature4, "Feature 4" %><br />
				<%= f.text_field :feature4 %>
				</div>
				
				<div class="field">
				<%= f.label :related1, "Related 1" %><br />
				<%= f.text_field :related1 %>
				</div>
				
				<div class="field">
				<%= f.label :related_url1, "Related 1 url" %><br />
				<%= f.text_field :related_url1 %>
				</div>
				
				<div class="field">
				<%= f.label :related2, "Related 2" %><br />
				<%= f.text_field :related2 %>
				</div>
				
				<div class="field">
				<%= f.label :related_url2, "Related 2 url" %><br />
				<%= f.text_field :related_url2 %>
				</div>
				
				<div class="field">
				<%= f.label :related3, "Related 3" %><br />
				<%= f.text_field :related3 %>
				</div>
				
				<div class="field">
				<%= f.label :related_url3, "Related 3 url" %><br />
				<%= f.text_field :related_url3 %>
				</div>
				
				<div class="field">
				<%= f.label :related4, "Related 4" %><br />
				<%= f.text_field :related4 %>
				</div>
				
				<div class="field">
				<%= f.label :related_url4, "Related 4 url" %><br />
				<%= f.text_field :related_url4 %>
				</div>
				
				<div class="field">
				<%= f.label :price %><br />
				<%= f.text_field :price %>
				</div>
				
				<div class="field">
				<%= f.label :description %><br />
				<%= f.text_area :description %>
				</div>
				
				<div class="field">
				<%= f.label :site %><br />
				<%= f.text_field :site %>
				</div>
				
				<div class="field">
				<%= f.label :site_url, "Site url" %><br />
				<%= f.text_field :site_url %>
				</div>
				
				<div class="field">
				<%= f.label :tag_list, "Tags" %><br />
				<%= f.text_field :tag_list %>
				</div>
				
				<div class="actions">
				<%= f.submit "Add Theme" %>
			    </div>
			<% end %>
			
		
		</div><!-- end full-content -->
	
	</div><!-- end full-content-bubble -->	

</div><!-- end main-content -->

