<div id="main-content">

	<div id="left-content">
		
		<div class="inner">
		
			<div class="theme-show">
				
				<div class="theme-show-left">
				
					<div class="title"><h3><%= @showcase.title %></h3></div>
					
					<span class="author-main">by <%= @showcase.author %></span>
				
				</div><!-- end theme-show-left -->
				
			
			
			<div class="theme-show-right">
				
				<span class="back-to"><a href="index.html"><!--&laquo;--><%= link_to '« Back to previous page', :back %></a></span>
				
				<span class="show-pricing"><strong><%= @showcase.price %></strong> from <%= link_to @showcase.site, @showcase.site_url %></span>
							
			</div><!-- end theme-show-right -->
			
			<div class="clear"></div>
				
				<hr />
				
				<div class="theme-show-img">
				
					<%= image_tag @showcase.image_url(:thumb).to_s %>
				
				</div>
				
				<div class="theme-show-features-related">
					
					<div id="theme-show-features">
						
						<h4>Features</h4>
						
						<ul>
							
							<li><%= @showcase.feature1 %></li>
							
							<li><%= @showcase.feature2 %></li>
							
							<li><%= @showcase.feature3 %></li>
							
							<li><%= @showcase.feature4 %></li>
							
							<li><%= link_to "& more", @showcase.site_url %></li>
						
						</ul>
					
					</div><!-- end theme-show-features -->
					
					<div id="theme-show-related">
					
						<h4>Related Themes</h4>
						    
							<ul>
								
								<li><%= link_to @showcase.related1, @showcase.related_url1 %></li>
								
								<li><%= link_to @showcase.related2, @showcase.related_url2 %></li>
								
								<li><%= link_to @showcase.related3, @showcase.related_url3 %></li>
								
								<li><%= link_to @showcase.related4, @showcase.related_url4 %></li>
							
							</ul>
					
					</div><!-- end theme-show-related -->
					
					<div class="button-container">
					
					<%= link_to "Get This Theme", @showcase.site_url, :class => "submit-main" %>
					
					</div><!-- end button-container -->
				
				</div><!-- end theme-show-features-related -->
				
				<div id="show-social">
					
					<img src="/images/facebook-show.jpg" alt="Facebook Show" />

				</div><!-- end show-social -->
				
				<p><%= @showcase.description %></p>

					<div class="show-tags-container">
					
						<!-- <img src="/images/show-tags.jpg" alt="Show Tags" /> -->
					
						<ul class="show-tags"> 
					
						<% @showcase.tags.each do |tag| %>
					
						<li><%= link_to tag.name, tag_path(:id => tag.name ) %></li>
					
						<% end %>
					
						</ul>
						
						<div class="clear"></div>
				
					</div><!-- end show-tags -->
			
				    
				    <span class="get-it-index">
					
					<% if signed_in? && current_user.admin? %>
					
					<%= link_to 'Add', new_showcase_path %>
					|
					<%= link_to "Edit", edit_showcase_path(@showcase) %>
					|
					<%= link_to "Delete", showcase_path(@showcase), :method => :delete, :confirm => "You Sure?",
					  									   :title  => "Delete #{@showcase.title} by #{@showcase.author}" %>
					<% end %>
					
					</span>
					
			</div><!-- end theme-show -->
		
		</div><!-- end inner -->
	
	</div><!-- end left-content -->
	
	<div id="sidebar">

	<%= render 'layouts/sidebar' %>

	</div><!-- end sidebar -->
</div>
