<div class="inner">
	
	<span id="copyright">&copy; 2012 <%= link_to "Method House", "http://www.methodhouse.net" %>. All Rights Reserved.</span>
	
	<div id="footer-nav">
		
		<ul id="footer-ul">
		
			<li><%= link_to "About", about_path %></li>
			
			<li><%= link_to "Twitter", "http://www.twitter.com/beautiful_wp", :target => '_blank' %></li>
			
			<li><%= link_to "Facebook", "http://www.facebook.com/pages/Beautifulwp/172800222809084", :target => '_blank' %></li>
			
			<li><%= link_to "Advertise", advertise_path %></li>
			
			<% if signed_in? %>

			<li><%= link_to "Profile", current_user %></li>
			
			<% end %>
			
			<% if Rails.env.development? && !signed_in? %>
				
				<li><%= link_to "Sign In", signin_path %></li>
			
			<% end %>
			
			<% if signed_in? %>

			<li><%= link_to "Sign Out", signout_path %></li>

			<% end %>
			
			<li><%= link_to "Privacy", privacy_path %></li>
			
			<li><%= link_to "Terms of Use", terms_path %></li>
			
			<li class="lt"><%= link_to "Contact", contact_path %></li>
		
		</ul>
	
	</div><!-- end footer-nav -->
	
</div><!-- end inner -->