<div id="main-bubble">
	
	<h2>Beautifulwp helps you find beautiful Wordpress themes.</h2>
	
	<p>Showcasing beautiful business, creative, retail, mobile &amp; blog/magazine wordpress themes from all over the internet.</p>
	
	<div id="social-main">
	
		<span id="facebook">Facebook</span>
		
		<span id="twitter">Twitter</span>
	
	</div><!-- end social-main -->
	
	<div class="clear"></div>

</div><!-- end main-bubble -->

<div class="inner">

	<!-- test ruby erb code -->
	
	<% @showcases.each do |showcase| %>
	
	<div class="theme-main">
		
		<div class="theme-main-left">
		
		<div class="title"><h3><%= showcase.title %></h3></div>
		
		<span class="author-main">by <%= showcase.author %></span>
		
	</div><!-- end theme-main-left -->
	
	<div class="theme-main-right">
		
		<span class="main-pricing"><strong><%= showcase.price %></strong> from <%= link_to showcase.site, showcase.site_url %></span>
		
		<span class="get-it"><%= link_to "Get it", showcase.site_url %></span>
		
	</div><!-- end theme-main-right -->
	
	<div class="clear"></div>
		
		<hr />
		
		<div class="theme-main-img"><a href="#"><img src="/images/theme1.jpg" alt="Studeo" /></a></div>
			
	</div><!-- end theme-main -->
    
    <% end %>
	
	<div class="theme-main lts">
		
		<div class="theme-main-left">
			
			<div class="title"><h3><a href="#">Amuse</a></h3></div>
			
			<span class="author-main"><a href="#">by Allur</a></span>
			
		</div><!-- end theme-main-left -->
		
		<div class="theme-main-right">
			
			<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
			
			<span class="get-it"><a href="#">Get it</a></span>
			
		</div><!-- end theme-main-right -->
			
			<div class="clear"></div>
			
			<hr />
			
			<div class="theme-main-img"><a href="#"><img src="/images/theme2.jpg" alt="Amuse" /></a></div>
		
	</div><!-- end theme-main -->

</div><!-- end inner -->

<div class="clear"></div>

<div id="pagination">
	
	<span class="pages">Page 1 of 5</span>
	
	<span class="current">1</span>
	
	<span class="not-current"><a href="#">2</a></span>
	
	<span class="not-current"><a href="#">3</a></span>
	
	<span class="not-current"><a href="#">4</a></span>
	
	<span class="not-current"><a href="#">5</a></span>
	
	<span class="not-current"><a href="#">Last &raquo;</a></span>

</div><!-- end pagination -->