
<div class="inner">

	<!-- test ruby erb code -->
	
	<% @showcases.each do |showcase| %>
	
	<div class="<%= cycle('theme-main', 'theme-main lts') %>">
		
		<div class="theme-main-left">
		
		<div class="title"><h3><%= link_to showcase.title, showcase_path(showcase) %></h3></div>
		
		<span class="author-main"><%= link_to "by #{showcase.author}", showcase_path(showcase) %></span>
		
	</div><!-- end theme-main-left -->
	
	<div class="theme-main-right">
		
		<span class="main-pricing"><strong><%= showcase.price %></strong> from <%= link_to showcase.site, showcase.site_url, :target => '_blank' %></span>
		
		<span class="get-it"><%= link_to "Get it", showcase.site_url, :target => '_blank' %></span>
		
	</div><!-- end theme-main-right -->
	
	<div class="clear"></div>
		
		<hr />
		
		<div class="theme-main-img ac_overlay"><%= link_to image_tag(showcase.image_url(:thumb).to_s), showcase_path(showcase) %></div>
		
		<span class="get-it-index">
		
		<% if signed_in? && current_user.admin? %>
		
		<%= link_to 'Add', new_showcase_path %>
		|
		<%= link_to "Edit", edit_showcase_path(showcase) %>
		|
		<%= link_to "Delete", showcase_path(showcase), :method => :delete, :confirm => "You Sure?",
		  									   :title  => "Delete #{showcase.title} by #{showcase.author}" %>
		
		<% end %>
		
		</span>
		
		<div class="clear"></div>
			
	</div><!-- end theme-main -->
    
    <% end %>

</div><!-- end inner -->

<div class="clear"></div>

<%= will_paginate @showcases %>




