<div class="inner">
	
	<div id="logo"><h1><%= link_to "Beautifulwp", root_path %></h1></div>
	
	<div id="navbar">
	
	<ul id="nav" class="sf-menu">
		
		<li><%= link_to "Submit", submit_path %></li>
		
		<li><%= link_to "Categories", '#' %>
			
			<ul id="nav-sub">

              		<li class="first"><%= link_to "Business", :controller => 'tags', :action => 'show', :id => 'business' %></li>

              		<li><%= link_to "Creative", :controller => 'tags', :action => 'show', :id => 'creative' %></li>

              		<li><%= link_to "Retail", :controller => 'tags', :action => 'show', :id => 'retail' %></li>
              		
              		<li><%= link_to "Mobile", :controller => 'tags', :action => 'show', :id => 'mobile' %></li>
              		
              		<li class="lasts"><%= link_to "Blog", :controller => 'tags', :action => 'show', :id => 'blog' %></li>

             </ul>
		</li>
		
		<li><%= link_to "Blog", 'blog.html' %></li>
	
	</ul>
	
	</div>
	
	<div class="search-box">
		
		<%= form_tag showcases_path, :method => 'get', :class => 'search-form' do %>

	      <%= text_field_tag :search, params[:search] ||= 'Search...', :class => 'text', :id => 's' %>

		  <%= submit_tag "Search", :name => nil, :class => 'submit' %> 
		
		<% end %>

		<!-- <form class="search-form" action="#">

			<input id="s" class="text" type="text" value="Search..." name="s" />

			<input class="submit" type="submit" value="Go" />

		</form> -->
			
	</div><!-- end search box -->
	
</div><!-- end nav-inner -->